// Some components are dynamically built, see styles.ts for functionality of these components

// #region Imports
@use "sass:map";
@use "sass:list";
@use "sass:color";
@use "sass:math";
@use "sass:meta";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
// #endregion

// #region Theme variables
// Site is designed mobile-first
$mobile-width-threshold: 500;
$mobile-height-threshold: 1000;
$desktop-media-query: "(min-width: #{$mobile-width-threshold + 1}px) and (min-height: #{$mobile-height-threshold + 1}px)";
$mobile-media-query: "(max-width: #{$mobile-width-threshold}px), (max-height: #{$mobile-height-threshold}px)";
$landscape-media-query: "(orientation: landscape)";

$material-symbols: (
    "bluetooth_searching",
    "deployed_code_update",
);
$material-symbols-options: (
    "FILL": "0..1",
);

$theme-constants: (
    radius: 8px
);

$theme-rules: (
    accent-primary: (
        light: hsl(275, 100%, 50%),
        dark: hsl(275, 100%, 20%),
    ),
    accent-secondary: (
        light: hsl(234, 100%, 74%),
        dark: hsl(225, 85%, 20%),
    ),
    foreground-primary: (
        light: #000000,
        dark: #ffffff,
    ),
    foreground-secondary: (
        light: #666666,
        dark: #999999,
    ),
    background-primary: (
        light: #ffffff,
        dark: #020817,
    ),
);

@function generate-theme($mode) {
    $result: ();

    @each $key, $colors in $theme-rules {
        @if map.has-key($colors, $mode) {
            $result: map.merge($result, ($key: map.get($colors, $mode)));
        }
    }

    @return $result;
}
$dark-theme: generate-theme(dark);
$light-theme: generate-theme(light);
:root {
    --is-mobile-ui: true;
    --is-portrait: true;

    // Define SASS variables as CSS variables for light and dark themes
    @each $name, $value in $theme-constants {
        --#{$name}: #{$value};
    }

    @each $name, $value in $light-theme {
        --#{$name}: #{$value};
    }

    @media (prefers-color-scheme: dark) {
        @each $name, $value in $dark-theme {
            --#{$name}: #{$value};
        }
    }

    @media #{$desktop-media-query} {
        --is-mobile: false;
    }
    
    @media #{$landscape-media-query} {
        --is-portrait: false;
    }
}

$foreground-100: var(--foreground-primary);
$foreground-30: color-mix(in srgb, var(--foreground-primary) 30%, transparent);
$foreground-5: color-mix(in srgb, var(--foreground-primary) 5%, transparent);
$background-primary: var(--background-primary);
$accent-primary: var(--accent-primary);
$accent-secondary: var(--accent-secondary);
$radius: var(--radius);

@function build-material-symbol-url() {
    @if list.length($material-symbols) == 0 {
        @return null;
    }

    $base-url: "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:";
    
    $symbol-list: "";
    @each $symbol in $material-symbols {
        $separator: if($symbol-list == "", "", ",");
        $symbol-list: #{$symbol-list}#{$separator}#{$symbol};
    }

    // Must be in alphabetical order
    $correct-order: ("opsz", "wght", "FILL", "GRAD");
    $opt-keys: "";
    $opt-vals: "";
    @each $key in $correct-order {
        @if map.has-key($material-symbols-options, $key) {
            $separator: if($opt-keys == "", "", ",");
            $opt-keys: #{$opt-keys}#{$separator}#{$key};
            $opt-vals: #{$opt-vals}#{$separator}#{map.get($material-symbols-options, $key)};
        }
    }

    // 3. Combine everything
    @return "#{$base-url}#{$opt-keys}@#{$opt-vals}&icon_names=#{$symbol-list}&display=block";
}
$material-symbols-url: build-material-symbol-url();
@if $material-symbols-url {
    @import url(#{$material-symbols-url});
}
// #endregion

// #region Helpers
@mixin border-debug($color: null) {
    @if $color == null {
        $color: hsl(math.random(360), 100%, 50%);
    }
    border: 1px solid $color !important;
}

@mixin range-track {
    // These must be separate for some reason, comma separated browser selectors don't seem to work.
    &::-webkit-slider-runnable-track {
        @content;
    }

    &::-moz-range-track {
        @content;
    }

    &::-ms-track {
        @content;
    }
}

@mixin range-thumb {
    &::-webkit-slider-thumb {
        appearance: none;
        @content;
    }

    &::-moz-range-thumb {
        @content;
    }

    &::-ms-thumb {
        @content;
    }
}

@mixin range-vertical {
    // https://stackoverflow.com/questions/15935837/how-to-display-a-range-input-slider-vertically
    writing-mode: vertical-lr;
    direction: rtl;

    --range-real-width: calc(max(var(--range-track-thickness), var(--range-thumb-size)));

    @include range-track {
        width: var(--range-real-width);
        background:
            linear-gradient(
                to top,
                $accent-secondary 0%,
                $accent-secondary var(--range-value),
                $foreground-5 var(--range-value),
                $foreground-5 100%
            ) center / var(--range-track-thickness) 100% no-repeat;
    }

    @include range-thumb {
        width: var(--range-real-width);
        height: var(--range-thumb-size);
        background: linear-gradient(
            $accent-primary,
            $accent-primary
        ) center / var(--range-thumb-size) 100% no-repeat;
    }
}

@mixin input-container-field {
    display: inline-flex;
    border-radius: $radius;

    // @media #{$desktop-media-query} {
        background: $foreground-5;
        backdrop-filter: blur(10px);
        padding: 0.5rem;
    // }
}

@mixin input-checkbox-radio-box {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid $foreground-30;
    vertical-align: middle;
    background-color: $foreground-5;
    backdrop-filter: blur(10px);
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

@mixin input-checkbox-radio-checked {
    background-color: $accent-primary;
    border-color: $accent-primary;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin input-checkbox-radio-hover {
    background-color: $foreground-5;
    border-color: $accent-primary;
}

@mixin input-checkbox-radio {
    $cursor: pointer;
    cursor: $cursor;

    &:has(+label) {
        display: inline;

        +label {
            cursor: $cursor;
            vertical-align: middle;
        }
    }

    // Standalone input
    &:not(:has(+label)) {
        // Keep the original input visible but visually hidden, required to still display the custom input and receive click events
        // SCSS automatically handles the other browser appearance properties (webkit, moz)
        appearance: none;
        
        &:has(+label)+label {
            margin-left: calc(1rem / 4);
        }

        &:after {
            @include input-checkbox-radio-box;
            @content("box");
        }

        &:checked:after {
            @include input-checkbox-radio-checked;
            @content("checked");
        }

        &:hover:after {
            @include input-checkbox-radio-hover;
            @content("hover");
        }
    }

    &:has(+label) {
        // Hide the original input entirely, the click events are tied to the attached label
        display: none;

        // Input (left) with label (right)
        &:not(.after-label) {
            +label:before {
                @include input-checkbox-radio-box;
                margin-right: calc(1rem / 2);
                @content("box");
            }

            &:checked+label:before {
                @include input-checkbox-radio-checked;
                @content("checked");
            }

            &:hover+label:before {
                @include input-checkbox-radio-hover;
                @content("hover");
            }
        }
    }

    // Input (right) with label (left)
    &.after-label {
        +label:after {
            @include input-checkbox-radio-box;
            margin-left: calc(1rem / 2);
            @content("box");
        }

        &:checked+label:after {
            @include input-checkbox-radio-checked;
            @content("checked");
        }
        
        &:hover+label:after {
            @include input-checkbox-radio-hover;
            @content("hover");
        }
    }
}
// #endregion

// #region Element defaults
// Reset base styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

body {
    // Position
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;

    // Layout
    display: flex;
    justify-content: center;
    align-items: center;

    // Font settings
    color: $foreground-100;
    font-family: "Inter", sans-serif;

    // Background
    // TODO: Slowly animate these radials around the page
    background:
        radial-gradient(
            circle at bottom left,
            color-mix(in srgb, $accent-secondary 50%, transparent),
            transparent 20%
        ),
        radial-gradient(
            circle at bottom right,
            color-mix(in srgb, $accent-primary 50%, transparent),
            transparent 40%
        ),
        $background-primary
    ;
    background-size: cover;
    background-attachment: fixed;
}

button,
a.button {
    // background: $foreground-5;
    background: transparent;
    padding: 1rem;
    border: none;
    border: 1px solid $foreground-30;
    border-radius: $radius;
    transition: background 0.2s ease;
    text-decoration: none;
    color: $foreground-100;

    &:hover:not([disabled]) {
        // background: $foreground-30;
        background: $foreground-5;
        backdrop-filter: blur(10px);
        cursor: pointer;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

input {
    &:focus {
        outline: none;
    }

    &[type="text"],
    &[type="password"],
    &[type="email"],
    &[type="number"] {
        background-color: transparent;
        border: none;
        transition: background-color 0.2s ease, border-color 0.2s ease;

        // Bottom border style
        // border-bottom: 1px solid $foreground-30;
        // border-radius: 0 0 2px 2px;
        // padding: 0.2rem 0.25rem 0.5rem 0.25rem;

        // No border style
        padding: 0.2rem;

        &::selection {
            background-color: $accent-primary;
        }

        &:focus {
            border-color: $foreground-100;
        }
    }

    &[type="checkbox"] {
        @include input-checkbox-radio using ($content) {
            @if $content == "box" {
                border-radius: calc($radius / 2);
            }

            @if $content == "checked" {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M20.285 6.709l-11.025 11.025-5.285-5.285 1.414-1.414 3.871 3.871 9.611-9.611z'/%3E%3C/svg%3E");
            }
        }
    }

    &[type="radio"] {
        @include input-checkbox-radio using ($content) {
            @if $content == "box" {
                border-radius: 100%;
            }

            @if $content == "checked" {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Ccircle cx='12' cy='12' r='6'/%3E%3C/svg%3E");
            }
        }
    }

    &[type="range"] {
        // Set in script
        --range-value: 50%;
        --range-thumb-size: 1rem;
        --range-track-thickness: 0.4rem;

        appearance: none;
        background: transparent;
        width: auto;
        height: auto;
        cursor: pointer;

        @include range-track {
            // TODO: Fix this not working if the track is smaller than the thumb (cause: gradient hack)
            border-radius: $radius;
        }

        @include range-thumb {
            border-radius: 100%;
            border: none;
        }
        
        &:active {
            cursor: grabbing;
        }

        // Horizontal
        &:not([orientation="vertical"]) {
            // In order to set the proper bounding box, we set the height to the larger of the track thickness or thumb size
            --range-real-height: calc(max(var(--range-track-thickness), var(--range-thumb-size)));

            // width: 100%;
            // height: 100%;

            @include range-track {
                // In order to set the proper bounding box, we set the height to the larger of the track thickness or thumb size
                height: var(--range-real-height);
                // We then set the background to a gradient that is centered vertically, with the height of the desired track thickness
                background:
                    linear-gradient(
                        to right,
                        $accent-secondary 0%,
                        $accent-secondary var(--range-value),
                        $foreground-5 var(--range-value),
                        $foreground-5 100%
                    ) center / 100% var(--range-track-thickness) no-repeat;
            }

            @include range-thumb {
                width: var(--range-thumb-size);
                height: var(--range-real-height);
                //Emulate a background image using gradients, then use the same trick as above to center it
                background: linear-gradient(
                    $accent-primary,
                    $accent-primary
                ) center / 100% var(--range-thumb-size) no-repeat;
            }
        }

        // Vertical in a mixin because it needs to be repeated elsewhere
        &[orientation="vertical"] {
            @include range-vertical;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

p {
    line-height: 1.5;
}

footer {
    // Position
    position: absolute; //Makes sure it doesn't affect main content size
    left: 0;
    right: 0;

    // Layout
    text-align: center;
    font-size: 0.75rem;
    color: var(--foreground-tertiary);

    transition: opacity 0.2s ease;
}
// #endregion

// #region Reusable classes
.material-symbol {
    // Make larger icon not take up extra space
    display: inline-block;
    width: 1.5em; //1.5x the inherited font size
    height: 0;
    line-height: 0;
    vertical-align: middle;
    font-family: "Material Symbols Outlined";
    font-size: 1.5em;
    overflow: visible;

    &.fill {
        font-variation-settings: 'FILL' 1;
    }

    &::before {
        content: attr(data-icon);
        display: block;
        transform: translateY(-0.075em);
    }
}

.no-border {
    border: none !important;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container-number {
    // @include input-container-field; // TODO: Fix having to move this to the bottom due to deprecation warning.
    display: inline-flex;
    gap: 0.5rem;

    [type="number"] {
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    }

    >button {
        padding: 0.2rem;
        border: none;
        // border-bottom: 1px solid $foreground-30;
        border-radius: 0;
        transition: border-color 0.2s ease;
        backdrop-filter: none;

        &:hover {
            background-color: transparent;
        }
    }

    &:has(>input[type="number"]:focus) > button {
        border-color: $foreground-100;
    }

    &:has(>input[type="number"].spin-left) {
        >input[type="number"] {
            text-align: left;
            margin-left: -1px;
            border-radius: 0 0 2px 0;
        }

        >button {
            &:first-of-type {
                border-radius: 0 0 0 2px;
            }
        }
    }

    &:has(>input[type="number"].spin-right) {
        >input[type="number"] {
            text-align: right;
            margin-right: -1px;
            border-radius: 0 0 0 2px;
        }

        >button {
            &:last-of-type {
                border-radius: 0 0 2px 0;
            }
        }
    }

    &:has(>input[type="number"].spin-split) {
        >input[type="number"] {
            text-align: center;
            margin: 0 -1px;
            border-radius: 0;
        }

        >button {
            &:first-of-type {
                border-radius: 0 0 0 2px;
            }

            &:last-of-type {
                border-radius: 0 0 2px 0;
            }
        }
    }

    @include input-container-field;
}

.input-container-range-double {
    // Set in script
    --range-from-value: 20%;
    --range-to-value: 80%;

    position: relative;
    display: inline-flex;
    flex-wrap: wrap;

    > input[type="range"] {
        position: relative;
        flex: 100%;

        &[data-component="from"] {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }

    &:not([orientation="vertical"]) {
        >input[type="range"] {
            // Left side
            &[data-component="from"] {
                $offset: calc(100% - var(--range-to-value) + ((var(--range-to-value) - var(--range-from-value)) / 2));
                $handle-offset: calc(var(--range-thumb-size) * -1);
                $left-offset: $offset; //These two would be flipped if direction was right-to-left
                $right-offset: 0;
                clip-path: inset($handle-offset $left-offset $handle-offset $right-offset);

                @include range-track {
                    background: transparent;
                }
            }

            // Right side
            &[data-component="to"]:not(:disabled[orientation="vertical"]) {
                @include range-track {
                    background:
                        linear-gradient(
                            to right,
                            $foreground-5 0%,
                            $foreground-5 var(--range-from-value),
                            $accent-secondary var(--range-from-value),
                            $accent-secondary var(--range-to-value),
                            $foreground-5 var(--range-to-value),
                            $foreground-5 100%
                        ) center / 100% var(--range-track-thickness) no-repeat;
                }
            }
        }
    }

    &[orientation="vertical"] {
        @include range-vertical;

        >input[type="range"] {
            // Bottom side
            &[data-component="from"] {
                $offset: calc(100% - var(--range-to-value) + ((var(--range-to-value) - var(--range-from-value)) / 2));
                $handle-offset: calc(var(--range-thumb-size) * -1);
                $top-offset: 0; //These two would be flipped if direction was top-to-bottom
                $bottom-offset: $offset;
                clip-path: inset($bottom-offset $handle-offset $top-offset $handle-offset);

                @include range-track {
                    background: transparent;
                }
            }

            // Top side
            &[data-component="to"]:not(:disabled[orientation="vertical"]) {
                @include range-track {
                    background:
                        linear-gradient(
                            to top,
                            $foreground-5 0%,
                            $foreground-5 var(--range-from-value),
                            $accent-secondary var(--range-from-value),
                            $accent-secondary var(--range-to-value),
                            $foreground-5 var(--range-to-value),
                            $foreground-5 100%
                        ) center / var(--range-track-thickness) 100% no-repeat;
                }
            }
        }
    }
}

.input-container-text {
    @include input-container-field;

    // >input {
    //     border-radius: 0 !important;
    // }
}

.transition-bounds {
    transition: width 0.5s ease, height 0.5s ease;
    // https://www.youtube.com/watch?v=JN-nme9oF10
    // I would program this in script but I can't be arsed and given that this app requires WebBLE it will only run on chrome anyway.
    interpolate-size: allow-keywords;
    // width: calc-size(auto);
    // height: calc-size(auto);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.transition-fade {
    // Set in script
    --transition-fade-duration: 0.5s;

    animation-duration: var(--transition-fade-duration);
    animation-timing-function: ease;

    &[data-transition-fade="in"] {
        animation-name: fade-in;
    }

    &[data-transition-fade="out"] {
        animation-name: fade-out;
    }
}

.backdrop-blur {
    border: 1px solid $foreground-30;
    border-radius: $radius;
    background: $foreground-5;
    backdrop-filter: blur(10px);
}

.hidden {
    display: none !important;
    opacity: 0 !important;
}

.info-container {
    // Container styling
    @extend .backdrop-blur;
    border: none;
    border-left: calc($radius - 1px) solid $foreground-30;

    // Content layout
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    backdrop-filter: blur(10px);

    // State-based styling
    $states: (
        success: #30d158,
        error:   #ff3751,
        warning: #ffcc00
    );
    @each $state, $color in $states {
        &[data-state="#{$state}"] {
            border-left-color: color-mix(in srgb, $color 90%, transparent);
            background: color-mix(in srgb, $color 5%, transparent);

            &::before {
                //h2
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }

    &[data-state="success"]::before {
        content: "✅ Success!";
    }

    &[data-state="error"]::before {
        content: "❌ Error!";
    }

    &[data-state="warning"]::before {
        content: "⚠️ Warning!";
    }
}

.controls {
    // #region Layout
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    justify-content: space-evenly; // Column alignment
    align-content: space-evenly; // Row alignment
    align-items: center; // Content alignment
    gap: 1rem;

    // Column
    > div {
        display: contents;

        // Rows
        @for $i from 1 through 3 {
            > :nth-child(#{$i}) {
                grid-row: $i;
            }
        }

        > :nth-child(2) {
            min-height: 0;
            overflow: auto;
        }
    }

    @media #{$landscape-media-query} {
        // Flip layout direction in landscape mode
        grid-template-rows: auto;
        grid-template-columns: auto 1fr auto;

        // Column becomes row
        > div {
            // Row becomes column
            @for $i from 1 through 3 {
                > :nth-child(#{$i}) {
                    grid-column: $i;
                    grid-row: auto;
                }
            }
        }
    }
    // #endregion

    .input-container-range-double {
        height: 100%;

        @media #{$landscape-media-query} {
            height: auto;
            width: 100%;
        }
    }
}
// #endregion

// #region ID specific styles
#style-guide {
    padding: 15px 20px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;

    > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: fit-content;
    }

    > footer {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.75rem;
    }
}

#main-content {
    // Position
    $page-offset: 100px;
    position: relative;
    display: flex;
    flex-direction: column;

    // Layout
    text-align: center;
    max-width: 100dvw;
    max-height: 100dvh;

    &:not(.fill-page) {
        width: fit-content;
        height: fit-content;
        padding: calc(#{$page-offset} / 2);

        > footer {
            top: calc(100% - (#{$page-offset} / 2)); // Positions it starting at the bottom of main
            margin-top: 1rem;
        }
    }

    &.fill-page {
        width: 100dvw;
        height: 100dvh;

        > footer {
            display: none;

            @media #{$desktop-media-query} {
                // Position equally between bottom of main and bottom of viewport
                top: calc(100% + (#{$page-offset} / 4));
                transform: translateY(-50%);
            }
        }

        @media #{$desktop-media-query} {
            width: calc(100dvw - $page-offset);
            height: calc(100dvh - $page-offset);
        }
    }
}

#control-screen {
    // Layout
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 1rem;

    @media #{$mobile-media-query} {
        border: none;
        border-radius: 0;
    }
}
// #endregion
